<h1>{{ title() }}</h1>
<p>The Angular Tutor For Hilda</p>

<app-recipe-form></app-recipe-form>
<hr/>

<div class="filter-recipe">
    <label for="search">Filter Recipes:</label>
    <input id="search"
            type="text"
            [ngModel]="searchTerm()"
            (ngModelChange)="searchTerm.set($event)"
    >
</div>

@for (recipe of filteredRecipes(); track recipe.id) {
    <button (click)="onSelect(recipe.id)">{{ recipe.name }}</button>
} @empty {
    <p>No recipes found.</p>
}

<hr/>
@if (currentRecipe(); as recipe) {
    <app-recipe-detail [recipe]="recipe"></app-recipe-detail>
} @else {
    <p>No recipes selected.</p>
}
