<div class="recipe-card">
    <img [src]="recipe()?.imgUrl" [alt]="recipe()?.name" />

    <div class="recipe-content">
        <h2>{{ recipe()?.name }}</h2>
        @if (recipe()?.isFavorite) {
            <span>★★★★★</span>
        }
        <p>{{ recipe()?.description }}</p>
    </div>

    <div class="servings-control">
        <h3>Servings: {{ servings() }}</h3>
        <div class="servings-buttons">
            <button (click)="updateServings(false)">-</button>
            <button (click)="updateServings(true)">+</button>
        </div>
    </div>

    <div class="ingredients">
        <p>Ingredients:</p>
        <ul>
            @for (ingredient of adjustedIngredients(); track ingredient.name) {
            <li>
                {{ ingredient.name }}: {{ingredient.quantity}} {{ingredient.unit}}
            </li>
            }
        </ul>
    </div>
</div>