<a [routerLink]="['/recipes']">返回食譜列表頁面</a>
<div class="recipe-card">
    @if (recipe(); as recipe) {
    <img [src]="recipe?.imgUrl" [alt]="recipe.name" />

    <div class="recipe-content">
        <h2>{{ recipe.name }}</h2>
        @if (recipe.isFavorite) {
        <span>★★★★★</span>
        }
        <p>{{ recipe?.description }}</p>
    </div>

    <div class="servings-control">
        <h3>Servings: {{ servings() }}</h3>
        <div>
            <button mat-icon-button aria-label="minus"
             (click)="updateServings(false)" class="servings-button"
             data-testid="minus-button">
                <mat-icon>remove</mat-icon>
            </button>

            <button mat-icon-button aria-label="add"
             (click)="updateServings(true)" class="servings-button"
             data-testid="add-button"
             >
                <mat-icon>add</mat-icon>
            </button>
        </div>
    </div>

    <div class="ingredients">
        <p>Ingredients:</p>
        <ul>
            @for (ingredient of adjustedIngredients(); track ingredient.name) {
            <li>
                {{ ingredient.name }}: {{ingredient.quantity}} {{ingredient.unit}}
            </li>
            }
        </ul>
    </div>
    } @else {
    <p>Loading recipe details...</p>
    }
</div>